@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* GENERAL */
.pointer-cursor {
    cursor: pointer;
}

.page-padding {
    padding: 80px 0px;
    min-height: calc(100vh - 10em);
}

.minheight50 {
    min-height: 50vh;
}

.bg-home {
    background-color: #f7f7f7;
}

.bg-auth {
    background-color: #EAEDF4;
}
/* GENERAL */