/* JUMBOTRON */
#jumbotron {
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 10px;
}

.text-container {
    display: table;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.jumbotron-container {
    display: flex;
    align-items: center;
    justify-content: center;

    /* background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.99)), url('../img/bg-1.svg'); */
    background: #fff;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    letter-spacing: 1px;
}
/* JUMBOTRON */



/* CAMPAIGN */
.campaign-card {
    color: #333333;
    width: 21rem;
    margin: 1rem;
    transition: .25s;
}
.campaign-card:hover {
    color: #282828;
}

.campaign-card img {
    opacity: .9;
    transition: .25s;
}

.campaign-card:hover {
    cursor: pointer;
    transform: scale(1.025);

    -webkit-box-shadow: 0px 0px 15px 0px rgb(95, 67, 218);
    -moz-box-shadow: 0px 0px 15px 0px rgb(95, 67, 218);
    box-shadow: 0px 0px 15px 0px rgb(95, 67, 218);
}
.campaign-card:hover > img {
    opacity: 1;
}

.campaign-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.card-detail::before {
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    width: 10px;
    height: 100%;
    position: absolute;
    background-color: indigo;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
/* CAMPAIGN */



/* ==== RESPONSIVES ==== */
@media only screen and (max-width: 1280px) {
    .campaign-card {
        width: 18rem;
    }
}

@media only screen and (max-width: 767px) {
    .campaign-card {
        width: 21rem;
    }
}