/* ============= LOGIN & REGISTER PAGE ============= */
.page-container {
    overflow: hidden;
    min-height: 100vh;
}

.auth-header {
    opacity: .75;
    font-weight: bold;
    text-align: center;
    padding-bottom: 18px;
    margin-bottom: 28px;
    border-bottom: #cecccc 1.5px solid;
}

.card-auth {
    border: 2px solid #9AA3AE;
    background: #fff;
}

.card-auth label {
    color: #777777;
}

.btn-auth {
    color: #FFF !important;
    background: #47525E !important;
}

#txtError {
    float: right;
    font-size: small;
    margin-top: -20px;
    margin-bottom: 20px;
}
/* ============= LOGIN & REGISTER PAGE ============= */



/* ================ BUAT POLLING PAGE ==================== */
#polling-top::after {
    content: "";
    width: 100%;
    height: 10px;
    background-color: indigo;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    position: absolute;
    left: 0;
}
/* ================ BUAT POLLING PAGE ==================== */



/* ================ SEMUA CAMPAIGN ==================== */
.campaign-filter {
    background: url('../img/Cover/campaign_page.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 80vh;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.campaign-filter::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.678);
}

.campaign-filter-inputs {
    z-index: 999;
    color: #FFF;
}
/* ================ SEMUA CAMPAIGN ==================== */